html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #f5f5f5
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  outline: none;
}
*::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.5);
}

*::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); */
  background-color: transparent;
}

.MuiList-padding{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.react-responsive-modal-root{
  z-index: 99999999999999999 !important;
}


@media screen and (max-width: 960px) {
  html,body{
    /* padding-bottom: 35px; */
    background: #fff;
  }
}

@media screen and (max-width: 600px) {
  *::-webkit-scrollbar {
    width: 3px;
    background-color: #f9f9fd;
  }
}